body {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #D0AADF;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    height: 30px;
    background-color: lavenderblush;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: paleturquoise;
}

#password {
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
}